.navbar_link {
    text-decoration: none;
    text-align: center;
}

.n {
    display: flex;
    justify-content: flex-end;
}

.brand.navbar-brand {
    margin: 0px;
    filter: none;
    position: relative;
    padding-top: 2rem;
    left: 4.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem !important;
    transition: all 0.5s ease-out;
    /* background: url("./Brand_icon.svg") no-repeat;
    background-position: center; */
}

@media (max-width: 767px) {
    #main_navbar {
        justify-content: center !important;
    }
    .brand {
        left: 0;
    }
}
